[submodule "maiaregex"]
	path = maiaregex
	url = https://github.com/souzamonteiro/maiaregex.git
[submodule "maiacc"]
	path = maiacc
	url = https://github.com/souzamonteiro/maiacc.git
[submodule "maiawasm"]
	path = maiawasm
	url = https://github.com/souzamonteiro/maiawasm.git
[submodule "maiac"]
	path = maiac
	url = https://github.com/souzamonteiro/maiac.git
[submodule "maiacpp"]
	path = maiacpp
	url = https://github.com/souzamonteiro/maiacpp.git
